// lear
// Simple Projects

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

// Colors
$redColor: hsl(0, 75%, 55%);
$greenColor: hsl(120, 70%, 30%);
$blueColor: hsl(240, 65%, 50%);
$firstSectionBackground: hsla(180, 75%, 25%, 0.25);
$lightGray: rgba(120, 120, 120, 0.25);
$lightBlue: hsla(200, 100%, 25%, 0.25);

// Count Section
.count-section {
  min-height: 100vh;
  text-align: center;
  display: grid;
  place-content: center;
  background-color: $firstSectionBackground;

  .text {
    font-size: 2rem;
    color: darkslategrey;
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.25rem;

    .btn {
      width: 120px;
      padding: 0.75rem;
      border: none;
      cursor: pointer;
      color: white;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
      font-size: 1rem;

      &:hover {
        opacity: 0.8;
      }

      &.plus-btn {
        background-color: $blueColor;
      }

      &.reset-btn {
        background-color: $redColor;
      }

      &.minus-btn {
        background-color: $greenColor;
      }
    }
  }
}

// Background Section
.background-section {
  background-color: black;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  place-content: center;
  grid-gap: 4rem 6rem;

  &.red {
    background-color: red;
  }

  &.green {
    background-color: green;
  }

  &.blue {
    background-color: blue;
  }

  &.yellow {
    background-color: yellow;
  }

  &.orange {
    background-color: orange;
  }

  &.black {
    background-color: black;
  }

  &.pink {
    background-color: pink;
  }

  &.purple {
    background-color: purple;
  }

  .box {
    width: 120px;
    height: 120px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    outline: 0.1rem solid $firstSectionBackground;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &.red {
      background-color: red;
    }

    &.green {
      background-color: green;
    }

    &.blue {
      background-color: blue;
    }

    &.yellow {
      background-color: yellow;
    }

    &.orange {
      background-color: orange;
    }

    &.black {
      background-color: black;
    }

    &.pink {
      background-color: pink;
    }

    &.purple {
      background-color: purple;
    }
  }
}

// Alert Section
.alert-section {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: $firstSectionBackground;
  position: relative;
  overflow-x: hidden;

  .warning-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    right: max(-100vw, -400px);
    background-color: white;
    width: min(400px, 100vw);
    padding: 1rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: 0 0 1rem $lightGray;

    .text {
      font-size: 1rem;
    }

    .fa {
      cursor: pointer;
    }

    &.show {
      right: 1rem;
    }
  }

  .btn {
    cursor: pointer;
    border: none;
    width: min(130px, 100vw);
    padding: 0.75rem;
    font-size: 1rem;
    background-color: $redColor;
    color: white;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;

    &:hover {
      opacity: 0.9;
    }
  }
}

// Todo Section
.todo-section {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: $lightBlue;
  gap: 1rem;
  padding: 2.5rem 0;

  .top-corner {
    display: flex;
    align-items: center;
    gap: 1rem;

    .enter-input {
      padding: 0.75rem;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
      border: 1px solid $lightGray;
      width: 260px;
    }

    .add-btn {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: 1px solid $lightGray;
      font-size: 1rem;
      background-color: $greenColor;
      color: white;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .task {
      display: flex;
      align-items: center;
      gap: 1rem;

      .text {
        width: 260px;
        padding: 0.75rem;
        border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
        border: 1px solid $lightGray;
      }

      .fa {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: grid;
        place-content: center;
        color: $redColor;
      }
    }
  }
}

// Timer Section
.timer-section {
  min-height: 100vh;
  text-align: center;
  display: grid;
  place-content: center;
  background-color: $firstSectionBackground;

  .text {
    font-size: 2rem;
    color: darkslategrey;
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.25rem;

    .btn {
      width: 120px;
      padding: 0.75rem;
      border: none;
      cursor: pointer;
      color: white;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
      font-size: 1rem;

      &:hover {
        opacity: 0.8;
      }

      &.start-btn {
        background-color: $greenColor;
      }

      &.reset-btn {
        background-color: $redColor;
      }

      &.pause-btn {
        background-color: $blueColor;
      }
    }
  }
}

// For Smaller devices
@media screen and (max-width: 868px) {
  .background-section {
    grid-template-columns: repeat(3, 120px);
  }
}

@media screen and (max-width: 624px) {
  .background-section {
    grid-template-columns: repeat(2, 120px);
    padding: 2.5rem 0;
  }

  .alert-section .warning-alert {
    top: 0;

    &.show {
      right: 0;
    }
  }
}

@media screen and (max-width: 396px) {
  .count-section .btns {
    flex-direction: column;

    .btn {
      width: 90vw;
    }
  }

  .background-section {
    grid-template-columns: 120px;
  }
}
